.adminPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../../public/adminWPP.png'); /* Ruta de la imagen */
  background-size: cover; /* Cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen */
  text-align: center;
}

.adminPage h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #ffffff;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.links ul li {
  margin: 0 10px;
}

.links ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #677b91;
  transition: color 0.3s;
}

.links ul li a:hover {
  color: #0056b3;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .adminPage h1 {
      font-size: 2em;
  }

  .links ul {
      flex-direction: column;
      align-items: center;
  }

  .links ul li {
      margin: 10px 0;
  }

  .links ul li a {
      font-size: 1.1em;
  }
}

@media (max-width: 480px) {
  .adminPage h1 {
      font-size: 1.5em;
  }

  .links ul li a {
      font-size: 1em;
  }
}
