.adminPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../../public/adminWPP.png'); /* Ruta de la imagen */
  background-size: cover; /* Cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen */
  text-align: center;
}

.reserbutton {
  border: 2px solid #0056b3;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 20px;
  margin: 10px; /* Espacio alrededor de los botones */
}

.reserbutton:hover {
  background-color: #677b91;
  color: white;
}

.adminPage h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #ffffff;
}

.links {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples filas */
  justify-content: center;
  width: 100%;
}

.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples filas */
  justify-content: center; /* Centrar los elementos */
  gap: 20px;
}

.links ul li {
  margin: 10px; /* Espacio alrededor de los elementos de la lista */
}

.links ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #677b91;
  transition: color 0.3s;
}

.links ul li a:hover {
  color: #0056b3;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .adminPage h1 {
    font-size: 2em;
  }

  .links ul {
    flex-direction: column;
    align-items: center;
  }

  .links ul li {
    margin: 10px 0;
  }

  .links ul li a {
    font-size: 1.1em;
  }
}

@media (max-width: 480px) {
  .adminPage h1 {
    font-size: 1.5em;
  }

  .reserbutton {
    font-size: 16px; /* Ajustar el tamaño de fuente de los botones para pantallas pequeñas */
    padding: 8px 16px; /* Ajustar el padding de los botones para pantallas pequeñas */
  }

  .links ul li a {
    font-size: 1em;
  }
}
