/* src/components/styles/Contact.css */

/* Estilos base */

.contact-page {
  text-align: center;
  padding: 5vw;
  margin-top: 5%;
}

.contact-page h2 {
  font-size: 2vw;
}

.contact-page p {
  font-size: 1.5vw;
}

.contact-page img {
  height: 3vw;
}

.ubicacion img {
  border: 0.5vw;
  border-radius: 3%;
  height: 20vw;
  margin-bottom: 2%;
}

.footerContact {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.dosColumnas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-direction: row;
}

.dosColumnas p {
  margin: 0;
  padding: 0;
}

/* Estilos para dispositivos más pequeños */

@media screen and (max-width: 768px) {
  .contact-page h2 {
      font-size: 5vw;
  }

  .contact-page p {
      font-size: 3vw;
  }

  .contact-page img {
      height: 6vw;
  }

  .ubicacion img {
      height: 40vw;
  }
}

@media screen and (max-width: 480px) {
  .contact-page {
      padding: 10vw;
  }

  .contact-page h2 {
      font-size: 7vw;
  }

  .contact-page p {
      font-size: 4vw;
  }

  .contact-page img {
      height: 10vw;
  }

  .ubicacion img {
      height: 60vw;
  }
}

