/* src/components/styles/Gallery.css */
.gallery-page {
  padding: 20px;
}

.gallery-page h2 {
  margin-top: 5%;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
}

.gallery-item {
  overflow: hidden;
  max-width: 100%;
}

.gallery-item img {
  width: 100%;
  height: 200px; /* Establecer una altura fija para las imágenes */
  object-fit: cover; /* Escalar y recortar las imágenes para llenar el contenedor */
  display: block;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .gallery-page {
    padding: 10px;
  }

  .gallery-page h2 {
    font-size: 1.5em;
  }

  .gallery-grid {
    gap: 5px;
  }

  .gallery-item img {
    height: 150px; /* Ajustar la altura de las imágenes para pantallas más pequeñas */
  }
}

