/* src/components/styles/Login.css */
.login-page {
  margin-top: 6%;
  text-align: center;
  margin-bottom: 2px;
}

.reservar-button {
  border: 1px solid purple;
  background-color: transparent;
  color: white;
  font-size: 3px;
  padding: 1px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
  margin-top: 2px;
}

.reservar-button:hover {
  background-color: purple;
  color: white;
}

.genReserva {
  display: flex;
  justify-content: center;
  align-items: center;  /* Alinea verticalmente al centro */
  padding: 20px; /* Añadir padding para evitar solapamientos */
}

.genReserva form {
  width: 80%; /* Ancho del formulario */
  display: grid;
  grid-template-rows: auto auto;
  gap: 2px; /* Reducir el espacio entre filas */
}

.genReserva-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Reducir el espacio entre columnas */
}

.column p {
  margin: 5px 0 0; /* Reducir el espacio entre párrafos */
}

.column input,
.column select {
  width: 100%;
  padding: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
  background-color: #000000; /* Fondo oscuro para los inputs */
  border: 1px solid #4d0b59; 
  border-radius: 5px;
  color: white; /* Color del texto en los inputs y selects */
}

.column select option {
  color: white; /* Color del texto en las opciones del select */
  background-color: #000000; /* Fondo oscuro para las opciones del select */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .genReserva form {
    width: 90%; /* Reducir el ancho del formulario en dispositivos más pequeños */
  }
  
  .genReserva-grid {
    grid-template-columns: 1fr; /* Mostrar una columna en dispositivos más pequeños */
  }
  
  .genReserva {
    padding: 10px; /* Ajustar padding para dispositivos más pequeños */
  }
}

@media (max-width: 480px) {
  .genReserva {
    margin-top: 60px; /* Añadir espacio para evitar solapamiento con el nav */
    margin-bottom: 60px; /* Añadir espacio para evitar solapamiento con el footer */
  }
}
