/* src/components/styles/Login.css */
.login-page {
  margin-top: 4%;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

form {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column p {
  margin: 10px 0 5px;
}

.column input,
.column select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  grid-column: span 2;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
