/* styles/policies.css */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 0 10px; /* Add horizontal padding to prevent text from touching the edges */
}

.policies {
  width: 100%; /* Ensure the container uses the full available width */
  max-width: 800px; /* Set a maximum width to maintain readability */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  font-size: 90px; /* Large font size to stand out */
  margin: 10px 0 50px 0; /* Increase bottom margin to separate from content */
  font-family: "Barlow", sans-serif;
}

.title p {
  margin-bottom: 20px; /* Space before the rules */
  font-size: 16px;
}

.normas ul {
  width: 100%; /* Ensure the list uses the full width */
  padding: 0;
  columns: 2;
  column-gap: 40px; /* Increase space between columns if necessary */
}

.normas li {
  margin-bottom: 15px; /* Increased space between items for better separation */
  text-align: left; /* Ensure alignment to the left */
  font-size: 18px; /* Adjust font size for better readability */
  hyphens: auto; /* Allows word splitting into syllables at the end of the line */
  line-height: 1.5; /* Improve readability with increased line spacing */
  font-family: "Freeman", sans-serif;
  font-style: normal;
}

@media (max-width: 768px) {
.title h2 {
  font-size: 70px;
}

.title p, .normas li {
  font-size: 14px;
}
}

@media (max-width: 480px) {
.title h2 {
  font-size: 50px;
}

.title p, .normas li {
  font-size: 12px;
}
}

  