/* Fijar la imagen de fondo para que cubra toda la pantalla */
.background {
    background-image: url("../../../public/reservasWPP.png");
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-attachment: fixed; /* Fijar la imagen */
    height: 100vh; /* Asegurar que cubra toda la altura de la pantalla */
    width: 100vw; /* Asegurar que cubra toda la anchura de la pantalla */
    overflow: hidden; /* Evitar el desplazamiento */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff; /* Color de texto blanco */
    width: 100%; /* Asegurar que el contenedor principal ocupa todo el ancho */
    height: 100%; /* Asegurar que el contenedor principal ocupa toda la altura */
}

h1, button {
    margin-bottom: 20px;
}

.reservar-button {
    border: 2px solid purple;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    margin-top: 20px;
}

.reservar-button:hover {
    background-color: purple;
    color: white;
}

.columnas {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3%;
    width: 100%; /* Asegurar que las columnas ocupen todo el ancho */
}

.columna {
    margin: 0 1%; /* Espaciado entre columnas */
    flex: 1;
    max-width: 30%; /* Asegurar que cada columna no exceda el 30% del ancho */
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    margin-bottom: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .mainPage {
        margin-top: 5%;
    }

    .columnas {
        flex-direction: column; /* Apila las columnas verticalmente en dispositivos móviles */
        align-items: center;
    }

    .columna {
        margin: 0;
        width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
        max-width: none;
    }
}
