/* Fijar la imagen de fondo para que cubra toda la pantalla */
.background {
    background-image: url("../../../public/reservasWPP.png");
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-attachment: fixed; /* Fijar la imagen */
    height: 100vh; /* Asegurar que cubra toda la altura de la pantalla */
    width: 100vw; /* Asegurar que cubra toda la anchura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Permitir el desplazamiento en el contenedor principal */
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff; /* Color de texto blanco */
    width: 100%; /* Asegurar que el contenedor principal ocupa todo el ancho */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    min-height: 100%; /* Asegurar que cubre al menos toda la altura de la pantalla */
    padding: 20px; /* Añadir un poco de padding */
}

h1, button {
    margin-bottom: 20px;
    margin-top: 2%;
}

.reservar-button {
    border: 2px solid purple;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    margin-top: 20px;
}

.reservar-button:hover {
    background-color: purple;
    color: white;
}

.columnas {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 0%;
    width: 100%; /* Asegurar que las columnas ocupen todo el ancho */
}

.columna {
    margin: 0 1%; /* Espaciado entre columnas */
    flex: 1;
    max-width: 30%; /* Asegurar que cada columna no exceda el 30% del ancho */
    max-height: 80vh; /* Establecer una altura máxima para las columnas */
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    margin-bottom: 10px;
}


    @media (max-width: 768px) {
        .mainPage {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            padding: 20px;
        }
    
        .columnas {
            margin-top: 20px;
            width: 100%;
            max-width: none;
            max-height: none;
            overflow-y: visible;
        }
        .columnas h3{
            color:purple;
        }
    }


@media(max-width:480px){
    .mainPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        padding: 20px;
    }

    .columnas {
        margin-top: 20px;
        width: 100%;
        max-width: none;
        max-height: none;
        overflow-y: visible;
        font-size: 0.2rem;
    }
    .columnas h3{
        color:purple;
    }

    .columna{
        font-size: 0.7rem;
    }
}
